* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(rgb(12, 36, 51) 5%, rgb(43, 30, 56) 80%, rgb(26, 17, 82));
    height: 100vh;
}

.instructions {
    color: white;
    text-align: center;
}

.playerBoard {
    color: white;
    display: grid;
    width: 362px;
    grid-template-columns: repeat(11, 2em);
    grid-template-rows: repeat(11, 2em);
    gap: 1px;
    background-color: grey;
    margin: 50px auto 0;
}

.gridSpace {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridSpace:hover {
    cursor: default;
}

.playableGridSpace:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(133, 189, 206);
    cursor: pointer;
}

.placingShip {
    background-color: green;
}

.placingShip:hover{
    background-color: green;
    color: white;
}

.ship {
    background-color: grey;
}
