* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(rgb(7, 22, 31) 5%, rgb(26, 18, 34) 80%, rgb(18, 11, 56));
    height: 100vh;
}

.playerBoard {
    color: white;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(11, 2em);
    grid-template-rows: repeat(11, 2em);
    gap: 1px;
    background-color: grey;
}

.gridSpace {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridSpace:hover {
    cursor: default;
}

.playerGridSpace:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(133, 189, 206);
    cursor: pointer;
}

.bombed {
    color: red;
}